<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanke.exhibition.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity 
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity 
            android:name="com.vanke.main.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"></activity>
        <activity 
            android:name="com.vanke.main.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"></activity>
        <activity 
            android:name="com.vanke.main.activity.ParkingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"></activity>
        <activity 
            android:name="com.vanke.main.activity.DetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"></activity>
    </application>

</manifest>
